.best-style-heading:hover{color:green;}
.best-style-p{color:green;}
.best-style-h4{color:red;}
/*.best-style-h4{padding:100px;}*/
.best-style-logo{}
.best-style-logo-text{color: green;}
/*.best-style-logo-text:hover{color: blue;}*/

